[submodule "todolist"]
	path = todolist
	url = https://github.com/sandwizard/todolist.git
[submodule "nft101"]
	path = nft101
	url = https://github.com/sandwizard/nft101.git
[submodule "Decentralized-app-practice"]
	path = Decentralized-app-practice
	url = https://github.com/sandwizard/Decentralized-app-practice.git
[submodule "vending-machine-app"]
	path = vending-machine-app
	url = https://github.com/sandwizard/vending-machine-app.git
